/*
    Created on : 20-12-2019, 20:01:31
    Author     : Sylviana Vanmessen
*/
/* Make css mobile first */
/*@import "compass"; */
/* Reset for better compatibility */
html, body, div, span, h1, h2, p, a, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

/* Base */
/* mobile first css */
*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "primary-font";
  src: local(".\fontSegoe UI.ttf") format("ttf"), local(".\fontSegoe UI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "secondary-font";
  src: local(".\fontQuicksand_Light.otf") format("otf"), local(".\fontQuicksand_Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 100%;
}

body {
  background-color: white;
  margin: 0rem;
  padding: 0rem;
  width: auto;
  font-size: 20px;
  font-family: "Segoe UI";
}

main {
  margin: 0rem;
  padding: 0rem;
}

h1 {
  margin: 2rem auto 3rem 2rem;
  font-size: 24px;
  color: white;
}
img {
  width: 100%;
  height: auto;
}

p {
  font-size: 20px;
}

.btn {
  background-color: #4eb748;
  border-bottom-right-radius: 15px;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  margin: 2rem auto;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  max-width: 20rem;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.btn:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  color: #033752;
}
.btn .post {
  display: flex;
  justify-content: space-between;
  width: 13%;
  height: 4%;
  margin: 0.2rem 1rem auto 1rem;
}

/* layout */
.l-grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 1fr repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: "l-wrapper l-wrapper l-wrapper" "l-wrapper . l-wrapper" "l-footer l-footer l-footer";
  /********************wrapper********************/
  /********************FOOTER********************/
}
.l-grid-container .l-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
  grid-template-areas: "l-header l-header l-header" "l-banner-img  l-banner-img  l-banner-img .";
  grid-area: l-wrapper;
  grid-template-areas: "l-banner l-banner l-banner ." ". . . ." "l-footer l-footer l-footer l-footer";
  /********************HEADER********************/
}
.l-grid-container .l-wrapper .l-header {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "l-menu l-menu l-menu";
  grid-area: l-header;
  width: 100%;
  height: 4rem;
  background-color: #033752;
  z-index: 999;
  position: fixed;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header {
    grid-template-areas: "l-logo l-logo-lg l-menu ";
    background-color: transparent;
  }
}
.l-grid-container .l-wrapper .l-header .l-logo__mobile {
  display: grid;
  width: 2.5rem;
  margin: 1rem;
  z-index: 1999;
  position: fixed;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-logo__mobile {
    display: inline-block;
    margin: 1rem;
    width: 2.5rem;
    position: relative;
  }
}
.l-grid-container .l-wrapper .l-header .l-logo__lg {
  display: grid;
  width: 11.5rem;
  margin: 1rem auto auto 4rem;
  z-index: 1999;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-logo__lg {
    display: grid;
    margin: 0.8rem auto auto 4rem;
    width: 12.5rem;
    position: relative;
  }
}
.l-grid-container .l-wrapper .l-header .l-logo {
  grid-area: l-logo;
  position: absolute;
  z-index: 1999;
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu {
  grid-area: l-menu;
  z-index: 999;
  display: none;
  background: #033752;
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu.is-visible {
  right: 0;
  display: inline-block;
  right: auto;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu {
    background: none;
    width: auto;
    height: auto;
    display: grid;
    right: 0;
    background: transparent;
  }
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav {
  margin-left: auto;
  margin-right: auto;
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav ul {
  padding-top: 1rem;
  width: auto;
  height: 100vh;
  margin-left: 0;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav ul {
    z-index: 999;
    width: auto;
    text-align: right;
    position: inherit;
    margin: auto 0 auto -4rem;
    display: inline-block;
    font-size: 18px;
  }
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav li {
  position: relative;
  display: block;
  margin-top: 3rem;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav li {
    display: inline-block;
    margin: auto 0rem auto 0rem;
  }
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav li:hover {
    transform: scale(0.9);
  }
}
.l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 25px;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a {
    color: white;
    padding: 0.2rem 0.5rem;
    margin: auto 1rem auto 1rem;
  }
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a:hover, .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a.is-active {
    right: 0;
  }
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a.blue-contact {
    color: #4eb748;
  }
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a.hover:hover:before {
    display: grid;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 3px solid #4eb748;
    border-left: 3px solid #4eb748;
  }
  .l-grid-container .l-wrapper .l-header .l-nav__main.l-menu nav a.hover:hover:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid #4eb748;
    border-right: 3px solid #4eb748;
  }
}
.l-grid-container .l-wrapper .l-header #menu-up {
  display: none;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header #menu-up {
    width: 100%;
    height: 4rem;
    color: white;
    background: #033752;
    background: #033752;
    background: linear-gradient(270deg, #033752 0%, rgba(4, 72, 106, 0.9387955011) 35%);
    display: grid;
    position: fixed;
    margin-top: 0rem;
  }
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham {
  grid-area: l-ham;
  display: grid;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  margin: 1.5rem 1rem 1rem 1rem;
  right: 0;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  position: fixed;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham {
    display: none;
  }
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham span {
  height: 0.12rem;
  margin-bottom: -0.9rem;
  width: 100%;
  background: white;
  border-radius: 0.15rem;
  opacity: 1;
  left: 0;
  z-index: 999;
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open {
  z-index: 9999;
  display: grid;
  float: right;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open {
    display: none;
  }
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open span {
  background: white;
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open span:nth-child(1) {
  margin-top: 0.68rem;
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open span:nth-child(3) {
  top: 0rem;
  width: 0%;
}
.l-grid-container .l-wrapper .l-header #menu-hamburger.l-ham.is-open:before {
  background: transparent;
}
.l-grid-container .l-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  grid-template-areas: "l-footer l-footer l-footer l-footer" "l-left l-middle l-right";
  grid-area: l-footer;
}
.l-grid-container .l-footer footer {
  background: #033752;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  margin-top: 8rem;
}
.l-grid-container .l-footer footer .bordure {
  border-bottom: 1px solid white;
  margin-top: 7rem;
  z-index: 999;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: none;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .bordure {
    margin-top: 3rem;
    padding-top: 1rem;
    display: block;
    width: 95%;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .bordure {
    display: block;
  }
}
.l-grid-container .l-footer footer .icon {
  width: 1rem;
  margin-right: 1rem;
}
.l-grid-container .l-footer footer .copyright {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  width: 100%;
}
.l-grid-container .l-footer footer .copyright a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 100%;
}
.l-grid-container .l-footer footer .copyright a:hover {
  color: #4eb748;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .copyright {
    font-size: 16px;
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .copyright {
    font-size: 18px;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    width: auto;
    text-align: center;
    margin-top: 2rem;
    margin-left: 25rem;
    display: inline-block;
  }
}
.l-grid-container .l-footer footer .logo-footer {
  width: 15rem;
  padding-top: -2rem;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .logo-footer {
    width: 11rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .logo-footer {
    padding-top: 1.5rem;
  }
}
.l-grid-container .l-footer footer .icon--heart {
  width: 1rem;
}
.l-grid-container .l-footer footer .section__footer--left {
  margin-left: 1rem;
}
.l-grid-container .l-footer footer .section__footer--left h1 {
  margin: 2rem auto 0rem -1rem;
  font-size: 24px;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--left {
    margin-top: -7rem;
    font-size: 20px;
  }
  .l-grid-container .l-footer footer .section__footer--left h1 {
    padding-top: 2rem;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--left h1 {
    padding-bottom: 2rem;
    margin-left: 4rem;
  }
}
.l-grid-container .l-footer footer .section__footer--left a {
  color: white;
  margin-top: -1rem;
  text-decoration-line: none;
  margin-left: -1rem;
  font-size: 18px;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--left a {
    font-size: 18px;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--left a {
    margin-left: 4rem;
    font-size: 20px;
  }
}
.l-grid-container .l-footer footer .section__footer--left a:hover {
  color: #4eb748;
}
.l-grid-container .l-footer footer .section__footer--middle {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--middle {
    margin-left: -2rem;
    margin-top: 0rem;
    font-size: 18px;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--middle {
    width: auto;
    text-align: center;
    display: flex;
    margin: 0;
  }
  .l-grid-container .l-footer footer .section__footer--middle h1 {
    margin: -17rem auto 0rem auto;
    font-size: 24px;
  }
}
.l-grid-container .l-footer footer .section__footer--middle ul {
  margin-top: 0.5rem;
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--middle ul {
    margin: -11rem auto auto -44rem;
    text-align: left;
  }
}
.l-grid-container .l-footer footer .section__footer--middle li {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 16px;
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--middle li {
    font-size: 16px;
    margin-left: 3rem;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--middle li {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 18px;
    height: 3rem;
    width: auto;
  }
}
.l-grid-container .l-footer footer .section__footer--right {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--right {
    margin-left: -3rem;
    margin-top: -1rem;
  }
  .l-grid-container .l-footer footer .section__footer--right h1 {
    margin-left: 3rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--right {
    margin: -29rem auto auto 56rem;
    width: auto;
  }
}
.l-grid-container .l-footer footer .section__footer--right p {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 18px;
  height: 2rem;
  width: auto;
}
@media screen and (min-width: 740px) {
  .l-grid-container .l-footer footer .section__footer--right p {
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 16px;
    height: 2.5rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .l-grid-container .l-footer footer .section__footer--right p {
    margin-left: 3rem;
    font-size: 20px;
    height: 2.5rem;
    width: auto;
    padding-top: 1rem;
  }
}
.l-grid-container .l-footer footer .btn--footer {
  float: left;
  margin: 6rem auto 3rem 59rem;
}

/* functions */
/* les FONCTIONS dans le projet */
/*
@function value($value-name){
  @return map-get($values, $value-name)
};
*/
/*modules*/
/********************wrapper********************/
.wrapper {
  /********************section banner********************/
  /********************wrap page home********************/
}
.wrapper .section__banner {
  height: auto;
  ackground-color: #033752;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner {
    background-color: white;
  }
}
.wrapper .section__banner .bg__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .bg__banner {
    display: grid;
  }
}
.wrapper .section__banner .header__lg {
  display: none;
}
.wrapper .section__banner .header__mobile {
  margin-top: 3rem;
  z-index: 0;
  height: auto;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .header__mobile {
    display: none;
  }
}
.wrapper .section__banner .l-logo__sm {
  margin-top: -4rem;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .l-logo__sm {
    display: none;
  }
}
.wrapper .section__banner .l-logo__lg {
  width: 50%;
  margin-top: -7rem;
  margin-left: 2rem;
}
.wrapper .section__banner .point__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .point__banner {
    display: block;
    position: absolute;
    width: 20%;
    margin: -15rem auto auto 14rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__banner .point__banner {
    width: 15%;
    margin: -15rem auto auto 14rem;
  }
}
.wrapper .section__banner .txt__presentation {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 70%;
  margin: -4rem auto auto 0rem;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .txt__presentation {
    display: block;
    position: absolute;
    width: 120%;
    margin: 2rem auto auto auto;
    text-align: right;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__banner .txt__presentation {
    margin: -4rem auto auto auto;
    text-align: right;
  }
}
.wrapper .section__banner .crl--blue {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto auto auto auto;
  color: white;
  padding-bottom: 2rem;
}
.wrapper .section__banner .crl--blue ::before {
  content: ">";
  color: #4eb748;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .crl--blue {
    display: flex;
    justify-content: left;
    margin: -9rem auto auto 8rem;
    color: white;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__banner .crl--blue {
    margin: -8rem auto auto 10rem;
  }
}
.wrapper .section__banner .btn__banner {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .btn__banner {
    margin: 0;
    margin-right: 5rem;
    padding: auto 2rem auto 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__banner .btn__banner {
    padding: auto 2rem auto 1rem;
    width: 15rem;
  }
}
.wrapper .section__banner .txt--liner {
  color: white;
  text-align: center;
  line-height: 2rem;
  margin: 2rem 2rem 2rem 2rem;
  padding-bottom: 2rem;
}
.wrapper .section__banner .txt--liner span {
  border-bottom: solid 2px #2999d1;
}
@media screen and (min-width: 740px) {
  .wrapper .section__banner .txt--liner {
    display: block;
    position: absolute;
    width: 30%;
    margin: -26rem auto auto 6rem;
    text-align: left;
    font-size: 17px;
  }
  .wrapper .section__banner .txt--liner span {
    border-bottom: solid 2px #2999d1;
  }
  .wrapper .section__banner .txt--liner p {
    margin-left: -3rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__banner .txt--liner {
    margin: -33rem auto auto 8rem;
  }
}
.wrapper .wrap {
  max-width: 1124px;
  height: auto;
  margin: auto;
  /********************section detail********************/
  /********************section logo********************/
  /********************section creations********************/
}
.wrapper .wrap .section__detail {
  min-height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail {
    height: auto;
    margin-top: 10rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail {
    background: none;
    height: auto;
  }
}
.wrapper .wrap .section__detail .title__primary {
  font-style: italic;
  margin: 3rem auto 1rem auto;
  text-align: left;
  color: #033752;
  width: 100%;
  font-size: 30px;
}
.wrapper .wrap .section__detail .title__primary span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-weight: bold;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail .title__primary {
    margin: 1rem auto -4rem auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail .title__primary {
    margin: 3rem auto auto 5rem;
    font-size: 30px;
    text-align: left;
    width: 20rem;
    line-height: 2rem;
  }
}
.wrapper .wrap .section__detail .crl--green {
  font-style: normal;
  width: 100%;
  margin: auto auto auto auto;
  text-align: left;
  color: #033752;
  line-height: 2rem;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
.wrapper .wrap .section__detail .crl--green span {
  color: #4eb748;
  font-weight: normal;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail .crl--green {
    margin: 7rem auto auto auto;
    font-size: 20px;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail .crl--green {
    margin: 2rem auto 2rem 5rem;
    font-size: 24px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
.wrapper .wrap .section__detail .txt__liner--green-2 {
  margin: 1.5rem auto auto auto;
  text-align: center;
  text-align: left;
  color: #033752;
  width: auto;
  font-size: 20px;
  line-height: 2rem;
}
.wrapper .wrap .section__detail .txt__liner--green-2 span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail .txt__liner--green-2 {
    margin: 0rem auto auto 5rem;
    font-size: 20px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
.wrapper .wrap .section__detail .cadre__detail .img__detail--mobile {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: block;
    width: 85%;
    float: right;
    margin-top: 3rem;
  }
}
.wrapper .wrap .section__detail .cadre__detail .img__detail--lg {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail .cadre__detail .img__detail--lg {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__detail .cadre__detail .img__detail--lg {
    display: none;
    width: 75%;
    float: right;
    margin-top: 9rem;
  }
}
.wrapper .wrap .section__detail .btn--detail {
  margin: 2rem auto 2rem auto;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__detail .btn--detail {
    margin: 2rem auto auto 20rem;
  }
}
.wrapper .wrap .section__logo {
  height: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  display: inline-block;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo {
    padding-bottom: 0;
  }
}
.wrapper .wrap .section__logo .title__liner--green p {
  margin: 2rem 1rem -2rem 1rem;
  color: #033752;
  width: 95%;
  font-size: 28px;
  line-height: 2rem;
}
.wrapper .wrap .section__logo .title__liner--green p span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo .title__liner--green p {
    margin: 6rem auto -5rem 5rem;
    font-size: 30px;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__logo .title__liner--green p {
    margin: 8rem auto 0rem 5rem;
    font-size: 30px;
    text-align: left;
    width: 30rem;
  }
}
.wrapper .wrap .section__logo .txt--blue {
  color: #033752;
  width: 100%;
  font-size: 12px;
  line-height: 2rem;
}
.wrapper .wrap .section__logo .txt--blue p {
  margin-top: 2rem;
  margin-left: 2rem;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo .txt--blue {
    margin: 6rem auto 5rem 20rem;
    width: 50%;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__logo .txt--blue {
    margin: 5rem auto 8rem 0rem;
  }
}
.wrapper .wrap .section__logo .cadre__logo {
  width: 100%;
  margin: 4rem auto auto auto;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo .cadre__logo {
    margin: 10rem auto auto auto;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__logo .cadre__logo {
    width: 100%;
    margin: 4rem auto auto auto;
  }
}
.wrapper .wrap .section__logo .content__logo {
  width: auto;
  height: auto;
  margin: -7rem auto auto auto;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo .content__logo {
    margin: -8rem auto auto auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__logo .content__logo {
    margin: -6rem auto auto auto;
  }
}
.wrapper .wrap .section__logo .content__logo img.point--logo {
  width: 20%;
  margin-top: -18rem;
}
.wrapper .wrap .section__logo .content__logo .logo__partners {
  width: 5rem;
  height: auto;
  margin: auto;
  padding: 0.5rem;
  border-color: 3px solid #033752;
}
.wrapper .wrap .section__logo .content__logo .logo__partners:hover {
  border: 1px solid #033752;
  border-radius: 15px;
  transform: scale(1.2);
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__logo .content__logo .logo__partners {
    width: 7rem;
    margin: -5rem auto 3rem auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__logo .content__logo .logo__partners {
    width: 9rem;
    margin: -10rem auto 3rem auto;
  }
}
.wrapper .wrap .section__logo .content__logo .logo__partners:hover {
  border: 2px solid #033752;
  border-radius: 15px;
  transform: scale(1.5);
}
.wrapper .wrap .section__creation {
  height: auto;
  width: 100%;
  margin: 4rem 1rem 0 auto;
  display: block;
  background-color: #033752;
  padding-bottom: 4rem;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation {
    height: auto;
    padding: 1rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation {
    height: auto;
    background-color: transparent;
    margin-top: -4rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation {
  display: block;
}
.wrapper .wrap .section__creation .cadre__creation img.bg {
  display: none;
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation img.bg {
    display: block;
    width: 105%;
    max-width: 1124px;
    max-height: 120%;
    position: absolute;
    margin-top: 0rem;
    float: right;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation {
    position: relative;
  }
}
.wrapper .wrap .section__creation .cadre__creation .desc-creation {
  height: auto;
  width: 100%;
  z-index: 999;
  padding-top: 2rem;
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .desc-creation {
    margin: -1rem auto auto auto;
    position: absolute;
  }
}
.wrapper .wrap .section__creation .cadre__creation .desc-creation .title__creation {
  margin: auto 1rem auto 1rem;
  color: white;
  line-height: 2rem;
  z-index: 999;
  font-weight: inherit;
  font-size: 20px;
  text-align: left;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .desc-creation .title__creation {
    margin: auto auto auto auto;
    text-align: left;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .desc-creation .title__creation {
    margin: 1rem 3rem auto 0rem;
    color: white;
    font-size: 24px;
    text-align: right;
    z-index: 997;
    line-height: 2.5rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation .desc-creation .txt__creation {
  z-index: 999;
  color: white;
  line-height: 2rem;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  margin: 2rem 1rem -1rem 1rem;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .desc-creation .txt__creation {
    margin: 1rem auto 1rem 3rem;
    position: relative;
    text-align: left;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .desc-creation .txt__creation {
    margin: 6rem 3rem auto 28rem;
    text-align: right;
    width: 60%;
    z-index: 997;
    font-size: 19px;
  }
}
.wrapper .wrap .section__creation .cadre__creation .list {
  margin: 2rem 1rem auto 0rem;
  width: auto;
  position: relative;
  z-index: 998;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .list {
    margin: auto auto auto 3rem;
    position: absolute;
    justify-items: space-between;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .list {
    margin: 2rem auto auto 6rem;
    width: 80%;
    text-align: left;
  }
}
.wrapper .wrap .section__creation .cadre__creation .list .first-list {
  width: auto;
  margin-left: 0rem;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .list .first-list {
    width: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .list .first-list {
    width: 70%;
    margin: 15rem 1rem auto 25rem;
    line-height: 3rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation .list .first-list li {
  font-size: 18px;
  color: white;
  font-style: italic;
  width: auto;
  line-height: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .list .first-list li {
    margin: 0rem auto auto 0rem;
    font-size: 16px;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .list .first-list li {
    margin: 0;
    width: auto;
    padding-bottom: 1rem;
    font-size: 18px;
  }
}
.wrapper .wrap .section__creation .cadre__creation .list .first-list li .checked {
  width: 1rem;
  margin: 0.8rem 0.5rem 0rem 0rem;
  padding-top: 5px;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .list .first-list li .checked {
    width: 1rem;
    margin: 0rem 0.5rem auto 0rem;
    line-height: 1rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation .btn__creation {
  justify-content: center;
  margin: 2rem 2rem auto auto;
  position: relative;
  display: flex;
  flex-direction: end;
  width: auto;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .btn__creation {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .btn__creation {
    margin-top: -9rem;
    text-align: left;
  }
}
.wrapper .wrap .section__creation .cadre__creation .illu-creation {
  position: relative;
  margin: 2rem 1rem 4rem 1rem;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .illu-creation {
    position: relative;
    margin-top: 11rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation .illu-creation .photo__creation {
  display: block;
  position: relative;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .illu-creation .photo__creation {
    display: block;
    margin-top: auto;
    width: 60%;
    height: auto;
    align-content: center;
    margin: auto;
    z-index: 998;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .illu-creation .photo__creation {
    display: block;
    margin: 10rem auto auto -2rem;
    position: relative;
    width: 45%;
    height: auto;
    padding-top: 4rem;
  }
}
.wrapper .wrap .section__creation .cadre__creation .illu-creation .point__creation {
  display: flex;
  width: 40%;
  float: right;
  margin: -6.5rem auto auto auto;
}
@media screen and (min-width: 740px) {
  .wrapper .wrap .section__creation .cadre__creation .illu-creation .point__creation {
    display: block;
    width: 20%;
    margin-top: -7rem;
    margin-left: 30rem;
    position: absolute;
    z-index: 997;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .wrap .section__creation .cadre__creation .illu-creation .point__creation {
    display: block;
    margin: -8rem auto auto 23rem;
    width: 10rem;
  }
}

/********************wrap page home********************/
.wrapper {
  /********************section banner********************/
  /********************section detail********************/
  /********************section logo********************/
  /********************section creations********************/
  /********************section realisations********************/
  /********************section ajouts********************/
}
.wrapper .section__banner {
  display: grid;
  margin-left: 0;
}
.wrapper .section__banner .l-banner-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  grid-template-areas: "l-banner-img l-banner-img .l-banner-img";
  grid-area: l-banner-img;
}
.wrapper .section__banner .l-banner-img .l-img {
  grid-area: l-img;
}
.wrapper .section__banner .l-banner-img .l-detail {
  grid-area: l-detail;
}
.wrapper .section__banner .l-banner-img .l-btn {
  grid-area: l-btn;
}
.wrapper .section__banner .l-banner-img .l-logo\/det {
  grid-area: l-logo\/det;
}
.wrapper .section__details .l-section--detail {
  grid-area: l-section-detail;
}
.wrapper .section__logos .l-section--logos {
  grid-area: l-section-logos;
}
.wrapper .section__creations .l-section--creations {
  grid-area: l-section-creations;
}
.wrapper .section__realisations .l-section--realisations {
  grid-area: l-section-realisations;
}
.wrapper .section__ajouts .l-section--ajouts {
  grid-area: l-section-ajouts;
}

/* ICI commence le scss de _m-realisations */
.yellow {
  background-color: #fcffa4;
}

.backimage > img {
  max-width: 49%;
  left: 139px;
  top: -36px;
}

.coverrelatif img {
  max-width: 50%;
}

.coverrelatif {
  left: 170px;
  bottom: 222px;
}

.coverrelatif-ter {
  bottom: -317px;
  left: 10px;
}

/* version petite tablette */
@media screen and (min-width: 600px) {
  .backimage > img {
    max-width: 104%;
    left: 25px;
    top: -22px;
  }

  .coverrelatif {
    left: 27px;
    bottom: 136px;
  }

  .coverrelatif img {
    max-width: 41%;
  }

  .coverrelatif-ter {
    left: 76px;
  }
}
/* grande TABLETTE */
@media screen and (min-width: 740px) {
  .coverrelatif {
    left: 52px;
    bottom: 190px;
  }

  .coverrelatif-second {
    left: -34px;
    bottom: 121px;
  }

  .coverrelatif-ter {
    left: 123px;
    bottom: -126px;
  }

  .coverrelatif img {
    max-width: 65%;
  }

  .backimage > img {
    left: 34px;
    max-width: 65%;
    top: -42px;
  }

  .backimage-second img {
    max-width: 100%;
    left: -20px;
    top: -213px;
  }
}
/* petit PC portable */
@media screen and (min-width: 799px) {
  .grid-containerAmoi {
    display: grid;
    grid-template-columns: 20% 13% 7% 15% 30% 15%;
  }

  .grid-containerAmoi > * {
    padding-left: 10px;
  }

  .lime {
    border: 4px dashed lime;
    margin: 15px;
  }

  .bordure {
    border: 1px dotted red;
  }

  span {
    text-transform: capitalize;
    font-weight: 800;
  }

  .backimage {
    padding-left: 10px;
  }

  .backimage > img {
    position: relative;
    left: -33px;
    max-width: 51%;
    top: -21px;
  }

  .coverimage {
    position: absolute;
  }

  .coverimage-second {
    position: absolute;
  }

  .coverrelatif {
    position: relative;
    left: 88px;
    bottom: 304px;
  }

  .coverrelatif-second {
    position: relative;
    left: -34px;
    bottom: 176px;
  }

  .coverrelatif-ter {
    position: relative;
    left: 230px;
    bottom: -20px;
  }

  .coverrelatif img {
    max-width: 100%;
  }

  .coverrelatif-second img {
    max-width: 30%;
  }

  .coverrelatif-ter img {
    max-width: 50%;
  }

  .backimage-second {
    padding-left: 10px;
    margin-left: 20px;
  }

  .backimage-second img {
    max-width: 68%;
    position: relative;
    left: -17px;
    top: -147px;
  }
}
.item-1 {
  margin-bottom: 20px;
}

.item-2 {
  grid-column: 1/7;
  grid-row: 3/6;
  margin-top: 30px;
}

.item-3 {
  grid-column: 1/7;
  grid-row: 4/6;
  margin-bottom: 30px;
}

.item-4 {
  grid-column: 2/7;
  grid-row: 7/8;
  margin-top: 30px;
  margin-bottom: 40px;
  z-index: 4;
}

.item-5 {
  display: none;
}

.item-6 {
  grid-column: 1/7;
  grid-row: 8/10;
  margin-bottom: 10px;
  margin-top: 90px;
}

/* version petite tablette */
@media screen and (min-width: 600px) {
  .item-1 {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  .item-3 {
    grid-column: 5/7;
  }

  .item-4 {
    grid-column: 2/7;
  }
}
/* grande TABLETTE */
@media screen and (min-width: 740px) {
  .item-3 {
    grid-column: 4/7;
  }

  .item-5 {
    grid-column: 6/7;
    grid-row: 5/9;
    background-color: wheat;
    z-index: 5;
    padding-top: 30px;
  }
}
/* petit PC portable */
@media screen and (min-width: 799px) {
  .item-1 {
    grid-column: 5/7;
    grid-row: 2/3;
    background: orange;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .item-2 {
    grid-column: 1/3;
    grid-row: 3/11;
    background: lightgray;
    margin-bottom: 10px;
  }

  .item-3 {
    grid-column: 4/6;
    grid-row: 4/5;
    margin-bottom: 30px;
  }

  .item-4 {
    grid-column: 2/6;
    grid-row: 6/7;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color: blanchedalmond;
    z-index: 4;
  }

  .item-5 {
    grid-column: 6/7;
    grid-row: 5/9;
    z-index: 5;
    padding-top: 30px;
  }

  .item-6 {
    grid-column: 4/6;
    grid-row: 8/10;
    margin-bottom: 10px;
  }
}
/********************wrapper********************/
.wrapper {
  /********************section contact********************/
}
.wrapper .section__contact {
  height: auto;
  background-color: #033752;
  /********************contact presentation********************/
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact {
    background-color: white;
  }
}
.wrapper .section__contact .bg__banner {
  display: none;
}
.wrapper .section__contact .header__map {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .header__map {
    margin: -29rem auto auto 25rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__contact .header__map {
    margin: -40rem auto auto 38rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: 80%;
    position: absolute;
  }
}
.wrapper .section__contact .header__mobile {
  margin-top: 3rem;
  z-index: 0;
  height: auto;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .header__mobile {
    display: none;
  }
}
.wrapper .section__contact .l-logo__sm {
  margin-top: -4rem;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .l-logo__sm {
    display: none;
  }
}
.wrapper .section__contact .l-logo__lg {
  display: block;
  position: absolute;
  width: 50%;
  margin-top: -7rem;
  margin-left: 2rem;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .l-logo__lg {
    display: block;
    position: absolute;
    width: 17%;
    margin: -28rem auto auto 6rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__contact .l-logo__lg {
    margin: -47.5rem auto auto 6rem;
    position: fixed;
    z-index: 999;
  }
}
.wrapper .section__contact .point__contact {
  display: none;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .point__contact {
    display: block;
    position: absolute;
    width: 20%;
    margin: -15rem auto auto 14rem;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__contact .point__contact {
    width: 15%;
    margin: -15rem auto auto 24rem;
    z-index: 999;
  }
}
.wrapper .section__contact .description {
  display: block;
  position: absolute;
  margin: 30rem auto auto auto;
  color: white;
  padding-bottom: 2rem;
  z-index: 1000;
}
.wrapper .section__contact .description .detail {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto auto auto auto;
  color: white;
  padding-bottom: 2rem;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .description .detail {
    display: flex;
    justify-content: left;
    margin: -9rem auto auto 8rem;
    color: white;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__contact .description .detail {
    margin: -8rem auto auto 10rem;
  }
}
.wrapper .section__contact .wrap__page--contact p.message {
  line-height: 1.7rem;
  color: black;
  margin-bottom: 5rem;
  text-align: justify;
  margin: 1rem;
}
.wrapper .section__contact .wrap__page--contact p.message input.checkbox {
  text-align: justify;
  margin-right: 1rem;
}
.wrapper .section__contact .wrap__page--contact .formulaire {
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 0;
  padding: 0.5rem 0rem 0rem 0rem;
  margin: 1rem auto 1rem auto;
  position: relative;
}
.wrapper .section__contact .wrap__page--contact .formulaire input[type=text], .wrapper .section__contact .wrap__page--contact .formulaire input[type=tel], .wrapper .section__contact .wrap__page--contact .formulaire input[type=email] {
  display: inline-block;
  border: o;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  color: black;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  text-align: left;
  padding: 5px;
}
.wrapper .section__contact .wrap__page--contact .formulaire input[placeholder=""] {
  background-color: antiquewhite;
}
.wrapper .section__contact .wrap__page--contact .formulaire textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical, horizontal;
}
.wrapper .section__contact .wrap__page--contact .formulaire #message-confirmation {
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.wrapper .section__contact .wrap__page--contact .btn.btn__contact {
  display: block;
  margin-top: 1rem;
  text-align: center;
  max-width: auto;
}
@media screen and (min-width: 740px) {
  .wrapper .section__contact .wrap__page--contact .btn.btn__contact {
    margin: 0;
    margin-right: 5rem;
    padding: auto 2rem auto 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  .wrapper .section__contact .wrap__page--contact .btn.btn__contact {
    padding: auto 2rem auto 1rem;
    width: 15rem;
    margin: auto;
    float: left;
  }
}

/*# sourceMappingURL=screen.css.map */
