.l-grid-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 1fr repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
    "l-wrapper l-wrapper l-wrapper"
    "l-wrapper . l-wrapper"
    "l-footer l-footer l-footer";
    
    /********************wrapper********************/

    .l-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr ;
        grid-template-rows: repeat(3, 1fr);
        gap: 1px 1px;
        grid-template-areas:
        "l-header l-header l-header"
        "l-banner-img  l-banner-img  l-banner-img .";
        grid-area: l-wrapper;
    
        grid-template-areas:
        "l-banner l-banner l-banner ."
        ". . . ."
        "l-footer l-footer l-footer l-footer";
    /********************HEADER********************/
    .l-header {
        display: inline-grid;
        
        
        grid-template-columns: 1fr 1fr 5fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
            "l-menu l-menu l-menu";
            grid-area: l-header;

            width: 100%;
            height: 4rem;
            background-color: map-get($colors,primary);
            z-index: 999;
            position: fixed;
            
            @media screen and (min-width: map-get($break-point, md)) {
                grid-template-areas:
            "l-logo l-logo-lg l-menu ";
                background-color:transparent;
                
                
            }
            
            .l-logo__mobile{
                display:grid;
                width: 2.5rem;
                margin:1rem ;
                z-index: 1999;
                position:fixed;
                
                @media screen and (min-width: map-get($break-point, md)) {
                    display: inline-block;
                    margin: 1rem;
                    width: 2.5rem;
                    position: relative;
                    
                }
            }
        
            .l-logo__lg{
                display:grid;
                width: 11.5rem;
                margin:1rem auto auto 4rem ;
                z-index: 1999;
                
                
                @media screen and (min-width: map-get($break-point, md)) {
                    display: grid;
                    margin: 0.8rem auto auto 4rem;
                    width: 12.5rem;
                    position: relative;
                
                    
                    
                }
            }
    
            .l-logo { 
                grid-area: l-logo;
                position: absolute;
                z-index: 1999;

            }
        
            .l-nav__main.l-menu {
                grid-area: l-menu;
                z-index: 999;
                display: none;
                
                @include transition(.2s ease-in-out);
            
                background: map-get($colors,primary);
            
                &.is-visible {
                    right: 0;
                    display: inline-block;
                    right: auto;
            
                }
                @media screen and (min-width: map-get($break-point, md)) {
                    background: none;
                    width: auto;
                    height: auto;
                    display: grid;
                    
                    
                    right: 0;
                    background: transparent;
            
                }
            
                nav{
                    
                    margin-left: auto;
                    margin-right: auto;
                
            
                ul {
                    
                    padding-top: 1rem;
                    width: auto;
                    height:100vh;
                    margin-left: 0;
                    text-align: center;
                
            
                    @media screen and (min-width: map-get($break-point, md)) {
                        z-index: 999;
                        width: auto;
            
                        text-align: right;
                        position: inherit;
                        margin: auto 0 auto -4rem;
                        display: inline-block;
                        font-size: 18px;

                    }
                    
                    
                }
                li {
                    position: relative;
                    display: block;
                    margin-top: 3rem;
            
                
                    @media screen and (min-width: map-get($break-point, md)) {
                        display: inline-block;
                        margin:auto 0rem auto 0rem;
                        
                        &:hover {
                            transform: scale(.9); 
                        }
                    }
            
    
                    
                }
                a {
                        
                    text-decoration: none;
                    padding: 1rem 1.5rem;
                    text-align: center;
                    color: map-get($colors,main);
                    font-size: 25px;
                    
            
            
                    @media screen and (min-width: map-get($break-point, md)) {
                        color: map-get($colors,main);
                        padding: 0.2rem 0.5rem;
                        margin:auto 1rem auto 1rem;
            
            
                    &:hover, &.is-active {
                        right: 0;
                    }
                
            
                    &.blue-contact{
                        color: map-get($colors,primaryGreen);
                    }
                    }
            
            
                }
            
                
        
            @media screen and (min-width: map-get($break-point, md)) {
                a.hover{
            
                    &:hover:before {
                        display: grid;
                        content: "";
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        border-bottom: 3px solid map-get($colors , primaryGreen );
                        border-left: 3px solid map-get($colors , primaryGreen );
                    }
            
                    &:hover:after {
                        display: block;
                        content: "";
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-top: 3px solid map-get($colors , primaryGreen );;
                        border-right: 3px solid map-get($colors , primaryGreen );;
                    }
                }
            
            }
                }
            }
            #menu-up{
                display: none;
                
                @media screen and (min-width: map-get($break-point, md)) {
                width: 100%;
                height: 4rem;
                color:white;
                background: map-get($colors , primary);
                background: rgb(3,55,82);
                background: linear-gradient(270deg, rgba(3,55,82,1) 0%, rgba(4,72,106,0.9387955011106005) 35%); 
                display:grid;
                position: fixed;
                margin-top: 0rem;
                
                }  
            
            }
            #menu-hamburger.l-ham { 
                grid-area: l-ham; 
                display: grid;

                z-index: 999;

                width: 2rem;
                height: 2rem;
                margin: 1.5rem 1rem 1rem 1rem;
                right: 0;
                position: fixed;
                z-index: 1000;
                
                @include transform(rotate(0deg));
                @include transition(.5s ease-in-out);
                cursor: pointer;
                position: fixed;
            
            
                @media screen and (min-width: map-get($break-point, md)) {
                    display: none;
                }
        
                & span {
                    
                    
                    height: .12rem;
                    margin-bottom:-0.9rem;
                    width: 100%;
                    background: map-get($colors, main);
                    border-radius: 0.15rem;
                    opacity: 1;
                    left: 0;
                    z-index: 999;
                    @include transform(rotate(0deg));
                @include transition(.25s ease-in-out);
        
                
                }
            
                &.is-open {
                    
                z-index: 9999;
                display: grid;
                float: right;
                    
        
                    @media screen and (min-width: map-get($break-point, md)) {
                        display: none;
                    }
            
                    span {
                        background: map-get($colors,main);
                        
                        &:nth-child(1) {
                            @include transform(rotate(60deg));
                            margin-top: 0.68rem;
                            
                        }
                        
                        &:nth-child(2) {
                            @include transform(rotate(-60deg));
                            
                        }
                        
                        &:nth-child(3) {
                            
                            top: 0rem;
                            width: 0%;
                            
                        }
                        
                    
                            
                    }
            
                    &:before {
                        background: transparent;
                    }
                }
        
            }
            
}
}
    /********************FOOTER********************/
    .l-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows:  1fr;
        gap: 0px ;
        grid-template-areas:
        "l-footer l-footer l-footer l-footer"
        "l-left l-middle l-right";
        grid-area: l-footer;

        footer{
            
            background: map-get($colors ,primary );
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 2rem;
            margin-top: 8rem;
            
            .bordure {
                border-bottom:1px solid white;
                margin-top: 7rem;
                z-index: 999;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 2rem;
                display: none;

                @media screen and (min-width: map-get($break-point, md)) {
                    margin-top: 3rem;
                    padding-top: 1rem;
                    display: block;
                    width: 95%;
                    margin-left: 0rem;
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    display: block;
                }
                }
            
            .icon{
                width: 1rem;
                margin-right: 1rem;
            }

            .copyright{
                display: flex;
                justify-content: center;
                padding-top: 3rem;
                margin-bottom: 0.5rem;
                margin-left: -1rem;
                width: 100%;

                @media screen and (min-width: map-get($break-point, lg)) {
                    
                }

                a{
                    text-decoration: none;
                padding: 1rem 1.5rem;
                text-align: center;
                color: map-get($colors,main);
                font-size: 16px;
                width: 100%;

                    &:hover{
                        color: map-get($colors , primaryGreen );
                    }
                }

                @media screen and (min-width: map-get($break-point, md)) {
                    font-size: 16px;
                    padding-top: 2rem;
                    width: 100%;
                    text-align: center;
                    margin-top: 0rem;
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    font-size: 18px;
                    padding-top: 3rem;
                    padding-bottom: 0.5rem;
                    width: auto;
                    text-align: center;
                    margin-top: 2rem;
                    margin-left: 25rem;
                    display: inline-block;
                    
                }
            }
            .logo-footer{
                width: 15rem;
                padding-top: -2rem;
                @media screen and (min-width: map-get($break-point, md)) {
                    width: 11rem;
                    
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    padding-top: 1.5rem;
                }
            }


            .icon--heart{
                width: 1rem;
            }

            .section__footer--left{
                margin-left: 1rem;
                

                h1{
                    margin: 2rem auto 0rem -1rem;
                    font-size: 24px;
                    
                }
                
                @media screen and (min-width: map-get($break-point, md)) {
                    
                    margin-top: -7rem;
                    font-size: 20px;
                    h1{
                        padding-top: 2rem;
                        margin-left: -1rem;
                    }
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    h1{
                        padding-bottom: 2rem;
                        margin-left:4rem;
                    }
                
                }
                

                a{
                    color: map-get($colors ,main );
                    margin-top: -1rem;
                    text-decoration-line: none;
                    margin-left: -1rem;
                    font-size: 18px;
                    
                    
                    @media screen and (min-width: map-get($break-point, md)) {
                        font-size: 18px;
                        margin-left: -1rem;
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                    
                    margin-left: 4rem;
                    font-size:20px;
                    
                    }
                    
                    &:hover{
                        color: map-get($colors , primaryGreen );
                    }
                
                }
            }

            .section__footer--middle{
                margin-left: -2rem;
                
                @media screen and (min-width: map-get($break-point, md)) {
                    margin-left: -2rem;
                    margin-top: 0rem;
                    font-size: 18px;

                }
                @media screen and (min-width: map-get($break-point, lg)) {
                
                    width: auto;
                    text-align: center;
                    display: flex;
                    margin:0;
                    h1{
                        margin: -17rem auto 0rem auto;
                        font-size: 24px;
                        
                    }
                }

                ul{
                    margin-top: 0.5rem;
                    @media screen and (min-width: map-get($break-point, lg)) {
                        margin: -11rem auto auto -44rem;
                        text-align: left;
                    }
                }
                li{
                    color: map-get($colors ,main );
                    text-decoration: none;
                    text-decoration-line: none;
                    margin-left: 2rem;
                    font-size: 16px;
                    height: 3rem;
                    width: auto;
                    margin-right: 1rem;
                    
                    @media screen and (min-width: map-get($break-point, md)) {
                        font-size: 16px;
                        margin-left: 3rem;
                        line-height: 2rem;
                        
                        width: auto;
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        color: map-get($colors ,main );
                        text-decoration: none;
                        text-decoration-line: none;
                        margin-left: 4rem;
                        font-size: 18px;
                        height: 3rem;
                        width: auto;
                        
                    }
                }
            }

            .section__footer--right{
                margin-left: -2rem;
                

                @media screen and (min-width: map-get($break-point, md)) {
                    h1{
                        margin-left: 3rem;
                        margin-bottom: 2.5rem;
                    
                    }
                    margin-left: -3rem;
                    margin-top: -1rem;
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    margin: -29rem auto auto 56rem;
                    width: auto;
                    
                }
                
                
                p{
                    color: map-get($colors ,main );
                    text-decoration: none;
                    text-decoration-line: none;
                    margin-left: 2rem;
                    font-size: 18px;
                    height: 2rem;
                    width: auto;

                    @media screen and (min-width: map-get($break-point, md)) {
                        font-size: 18px;
                        color: map-get($colors ,main );
                        text-decoration: none;
                        text-decoration-line: none;
                        margin-left: 4rem;
                        font-size: 16px;
                        height: 2.5rem;
                        width: auto;
                    
                    
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        margin-left: 3rem;
                        font-size: 20px;
                        height: 2.5rem;
                        width: auto;
                        padding-top: 1rem;
                        
                    }
                    
                    
                }
            }
            .btn--footer{
                float: left;
                margin: 6rem auto 3rem 59rem;
                
            }
        }
    }

}


