html, body, h1, h2, strong, b, u, i, center, dl, dt, dd, ol, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav
{
    margin: 0;
    padding: 0;
    border: 0;
    
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
