/********************wrapper********************/
.l-wrapper-contact{
    /********************section contact********************/
    .header__map{
        display:block;
        border-top-left-radius: 25px;
        


        @media screen and (min-width: map-get($break-point, md)) {

        }
        
        @media screen and (min-width: map-get($break-point, lg)) {
            
        }
        
    }
    .l-logo-lg-rea{
        display: none;
        
        @media screen and (min-width: map-get($break-point, md)) {
            display: none;
            
        }
        
        @media screen and (min-width: map-get($break-point, lg)) {
            display: block;
            width: 15rem;
            margin-top: -45.2rem;
            margin-left: 6rem;
            z-index: 999;
        }
    }
    .description{
        display: block;
            
        position: absolute;
        margin: 7rem auto auto 6.5rem;
        color: white;
        padding-bottom: 2rem;
        z-index: 997;

        .title{
    
        }
        .detail{
            display: block;
            position: absolute;
            text-align: left;
            margin: 10rem auto auto 0;
            color: white;
            padding-bottom: 2rem;
    
    
            @media screen and (min-width: map-get($break-point, md)) {
                display: block;
            
                text-align: left;
                margin: 10rem auto auto 0;
                color: white;
                padding-bottom: 2rem;
            }
    
            @media screen and (min-width: map-get($break-point, lg)) {
                margin: -8rem auto auto 10rem;
            }
        }
    }
   }