
 /********************sections********************/
    .m-wrap{
        width: 80%;
        margin: auto;
        /********************section detail********************/
        .section__detail{
            
            margin:auto;
            display: block;
            padding-top: 4rem;
            
            
            @media screen and (min-width: map-get($break-point, md)) {
                height: auto;
                margin-top: auto;
                
            }

            @media screen and (min-width: map-get($break-point, lg)) {
                background: none;
                height: auto;
                
            }
            
            
        .title__primary {
            font-style: italic;
            margin:3rem auto 1rem auto;
            text-align: left;
            color: map-get($colors,primary );
            width: 100%;
            font-size: 30px;


            span{
            border-bottom: solid 3px map-get($colors , primaryGreen);
            color: map-get($colors,primary ); 
            font-weight: bold;
            font-style: normal;
            }

        @media screen and (min-width: map-get($break-point, md)) {
            margin:1rem auto -4rem auto;
            font-size: 30px;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin:3rem auto auto auto;
            font-size: 30px;
            text-align: left;
            width: auto;
            line-height: 2rem;
        }

        }

        .crl--green {

            font-style: normal;
            width: 100%;
            
            margin:auto auto auto auto;
            text-align: left;
            color: map-get($colors , primary);
            line-height: 2rem;
            font-size: 20px;
            font-weight: bold;
            max-width: 500px;


                span{
                    color: map-get($colors , primaryGreen);
                    font-weight: normal;
                }


            @media screen and (min-width: map-get($break-point, md)) {
                margin: 7rem auto auto 0;
                font-size: 22px;
                max-width: auto;

                
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                margin:2rem auto 2rem 0;
                font-size: 24px;
                text-align: left;
                width:auto;
                max-width: auto;
                line-height: 2rem;
                
                
            }
            @media screen and (min-width: map-get($break-point, mlg)) {
                width: 100%;
                max-width: 1200px;
                font-size: 28px;
                
                
            }
        }


        .txt__liner--green-2{
            margin:1.5rem auto auto auto;
            
            text-align: left;
            color: map-get($colors,primary );
            max-width: auto;
            font-size: 20px;
            width: 100%;
            line-height: 2rem;

                span{
                    border-bottom: solid 3px map-get($colors , primaryGreen);
                    color: map-get($colors,primary ); 
                    font-style: normal;
                }


            @media screen and (min-width: map-get($break-point, md)) {
                margin:2rem auto auto auto;
                font-size: 20px;
                text-align: auto;
                width: 100%;
                
                line-height: 2rem;
                
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                width:auto;
                padding-bottom: 2rem;
            }
            @media screen and (min-width: map-get($break-point, mlg)) {
                width:470px;
                margin-right: 8rem;
                padding-right: 3rem;
            }
            

        }
            

            .cadre__detail{
                display: flex;
                justify-content: space-between;
                padding-bottom: 2rem;
                

                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin:auto;
                }
                .img--detail{
                
                    background-image: url('../img/Cadre-detail.png');
                    display: none;
                    background-repeat: no-repeat;
                    width: 100%;
                    min-height: 55vh;
                    margin-top: 10rem;
                    justify-content: space-between;
                    padding-bottom: 2rem;
                    

                        @media screen and (min-width: map-get($break-point, mlg)) {
                            display: block;
                            margin-left: -10rem;
                            margin-top: 1rem;
                            width:130rem;
                            height: auto;
                            
                        }
                    
                }  
                

            }
            
            .btn--detail{
                        
                margin:2rem auto auto 0rem;
                display: block;

                @media screen and (min-width: map-get($break-point, md)) {  
                    margin:2rem auto auto 0rem; 
                }

                @media screen and (min-width: map-get($break-point, lg)) {
                }

                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin: -3rem auto auto 15rem ;
                }
                @media screen and (min-width: map-get($break-point, xxlg)) {
                    margin: -1rem auto auto 17rem ;
                }
            }

        }
        /********************section logo********************/
        .section__logo{
            height: auto;
            width: 100%;
            margin: auto;
            
            
            padding-top: 2rem;
            display: inline-block;
            

                @media screen and (min-width: map-get($break-point, md)) {  
                    padding-bottom:0; 
                }

                @media screen and (min-width: map-get($break-point, lg)) {
                    }
                    


            .title__liner--green p{
                margin:2rem auto 2rem 0rem;
                color: map-get($colors,primary );
                width: 100%;
                font-size: 30px;
                line-height: 2rem;
                
                text-align: left;

            
                span{
                    border-bottom: solid 3px map-get($colors , primaryGreen);
                    color: map-get($colors,primary ); 
                    font-style: normal;
                }

                @media screen and (min-width: map-get($break-point, md)) {
                    font-size: 30px;
                    line-height: 2rem;
                    width: auto;
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    font-size: 30px;
                    text-align: left;
                    width: 30rem;
                    
                }
                @media screen and (min-width: map-get($break-point, mlg)) {
                    padding-top: 3rem;
                    
                }
            }


            .txt--blue {
                
                color: map-get($colors,primary );
                width: 100%;
                font-size: 16px;
                line-height: 2rem;
                p{
                    margin-top:2rem;
                    margin-left: 2rem;
                }
                

                @media screen and (min-width: map-get($break-point, md)) {
                    margin:1rem 2rem 5rem auto;
                    width: 80%;
                    text-align: right;
                    
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    margin:5rem 3rem 8rem auto;
                    
                }
                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin:2rem 7rem 8rem auto;
                    font-size: 20px;
                    
                }
            }

            .cadre__logo {
                width: 100%;
                margin: 4rem auto auto auto; 
                height: auto;
                
                
            
                @media screen and (min-width: map-get($break-point, md)) {
                    margin:10rem auto auto auto;
                    width: 100%;  
                    
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    width: 100%;
                    margin: 4rem auto auto auto;
                
                }

                .point--logo{
                    width: 20%;
                    
                    
                    
                }
            }
            .content__logo{

                width: auto;
                height: auto;
                margin:-8rem auto auto auto;
                text-align: center;
                

                @media screen and (min-width: map-get($break-point, md)) {
                    margin:-12rem auto auto auto;
                    
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    margin:-18rem auto auto auto;
                }
                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin:-20rem auto auto auto;
                }
                @media screen and (min-width: map-get($break-point, xlg)) {
                    margin:-22rem auto auto auto;
                }
                @media screen and (min-width: map-get($break-point, xxlg)) {
                    margin:-24rem auto auto auto;
                }
                @media screen and (min-width: map-get($break-point, xtlg)) {
                    margin:-30rem auto auto auto;
                }
                @media screen and (min-width: map-get($break-point, other)) {
                    margin:-37rem auto auto auto;
                }
                .logo__partners{
                    width: 5rem;
                    height: auto;
                    margin: auto;
                    padding: 0.5rem;
                    border-color:3px solid map-get($colors,primary ); 
                    
                    

                    &:hover{
                        border:1px solid map-get($colors,primary );
                        border-radius: 15px;
                        transform: scale(1.2); 
                        
                    }
                    @media screen and (min-width: map-get($break-point, md)) {
                        width: 7rem;
                        margin:-5rem auto auto  auto;
                        
                    }
                    @media screen and (min-width: map-get($break-point, mlg)) {
                        width: 12rem;
                        margin:-10rem auto 3rem auto;
                        padding:1.5rem;
                        
                        
                    }
                    @media screen and (min-width: map-get($break-point, xtlg)) {
                        width: 16rem;
                        margin:-10rem auto 3rem auto;
                        padding:2rem;
                        
                        
                    }
                    &:hover{
                        border:2px solid map-get($colors,primary );
                        border-radius: 15px;
                        transform: scale(1.5); 
                        
                    }
                    }

                    
                }
        }
        /********************section creations********************/
        .section__creation{
            height: auto;
            width: auto;
            margin: auto -0.1rem auto auto;
            display: block;
            background-color: map-get($colors,primary);
            padding-bottom: 2rem;
            

            @media screen and (min-width: map-get($break-point, md)) {
                height: auto;
                width: auto;
            
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                height: auto;
                background-color: transparent;
                margin-right: -2.5rem;
                
                
            }
            @media screen and (min-width: map-get($break-point, mlg)) {
                height: auto;
                background-color: transparent;
                margin-right: -4.5rem;
                
                
            }
            
                .cadre__creation {
                    display: block;
                    
                    width: 100%;
                    height: auto;
                    
                    img.bg{
                        display: none;
                        @media screen and (min-width: map-get($break-point, lg)) {
                            display: block; 
                            width: 100%;
                            max-width: 1124px;
                            max-height: auto;
                            position: absolute;
                            margin-top: 3rem;
                            float: right;
                            margin-left: 4rem;
                            margin-right: 0rem;
                            z-index: 1;
                        }
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        position: relative;
                        margin-right: -0.8rem;
                        
                        
                    }
                    .desc-creation{
                        height: auto;
                        width: 100%;
                        
                        z-index: 1;
                        margin-top: 2rem;
                        padding-top: 2rem;

                    
                        @media screen and (min-width: map-get($break-point, lg)) {
                            margin:0rem auto auto auto;
                    
                        }


                    .title__creation{
                            margin: auto 1rem 2rem 1rem ;
                            color: map-get($colors,main);
                            line-height: 2rem;
                            z-index: 1;
                            width: 70%;
                            font-weight: inherit;
                            font-size: 20px;
                            text-align: left;
                            position: absolute;
                            
                            
                            
                            

                        @media screen and (min-width: map-get($break-point, md)) {
                            margin:0rem  1rem 4rem 3rem;
                            text-align:left;
                            line-height: 2rem;
                            
                        }
                        @media screen and (min-width: map-get($break-point, lg)) {
                            margin:3rem 0rem auto 1rem;
                            color: map-get($colors,main);
                            font-size: 22px;
                            text-align: right;
                            z-index: 997;
                            width: 100%;
                            line-height: 2.5rem;
                        
                        }
                        
                    }

                    .txt__creation {
                        z-index: 999;
                        color: map-get($colors,main);
                        line-height: 2rem;
                        font-weight: normal;
                        font-size: 18px;
                        text-align: left;
                        margin:7rem 1rem 2rem 1rem;
                        

                        @media screen and (min-width: map-get($break-point, md)) {
                            margin:1rem  1rem 1rem 3rem;
                            position: relative;
                            text-align: left;
                            padding-top: 4rem;
                            
                            
                        }
                        @media screen and (min-width: map-get($break-point, lg)) {
                            margin: 2rem -0.5rem auto auto;
                            text-align: right;
                            width: 80%;
                            z-index: 997;
                            font-size: 18px;
                            
                        }
                        @media screen and (min-width: map-get($break-point, xxlg)) {
                            margin: 2rem -0.5rem auto auto;
                            text-align: right;
                            width: 100%;
                            z-index: 997;
                            font-size: 18px;
                        
                        }
                    }

                    }

                    .list{
                        margin: 2rem 1rem auto 0rem ;
                        width: auto;
                        position: relative;
                        z-index: 998;
                        padding-right: 0.5rem;
                        font-size: 16px;
                        

                        @media screen and (min-width: map-get($break-point, md)) {
                            margin:auto  2rem 3rem 3rem;
                            position: absolute;
                            justify-items: space-between;
                            width: auto;
                            
                        }
                        @media screen and (min-width: map-get($break-point, lg)) {
                            margin:-12rem auto auto -2rem;
                            width: 90%;
                            text-align: left;
                            font-size: 16px;
                        
                        }

                        @media screen and (min-width: map-get($break-point, mlg)) {
                            margin:-9rem auto auto 5rem;
                            
                        
                        }

                        .first-list{
                            width: auto;
                            margin-left: 0rem;
                            padding-left: 1rem;
                            margin-right: 1rem;

                        @media screen and (min-width: map-get($break-point, md)) {
                            width: auto;
                            margin-left:auto;
                        }
                        @media screen and (min-width: map-get($break-point, lg)) {
                            width: 90%;
                            margin:13rem  0rem auto 23rem;
                            line-height:2rem;
                        }
                    
                            li{
                                
                                width: 100%;
                                line-height: 3;
                                display: column;
                                justify-content: space-between;
                                background-image: url('../img/checked.png');
                                background-repeat: no-repeat;
                                background-position:  0rem 0.8rem ;
                                font-size: 16px;

                                @media screen and (min-width: map-get($break-point, lg)) {
                                    line-height: 2.5rem;
                                    
                                    background-position:  0rem 0.8rem ;
                                }
                                                
                                
                                .check-li{
                                    width: 100%;
                                    display: row;
                                    color:white;
                                    margin: 0rem 2rem 1rem 2rem ;
                                    font-size: 16px;
                                    line-height: 2rem;

                                    @media screen and (min-width: map-get($break-point, md)) {
                                        width: 80%;
                                        font-size: 16px;
                                        margin: 1rem 1rem 0rem 2rem;
                                        
                                    }
                                    @media screen and (min-width: map-get($break-point, lg)) {
                                        width: 60%;
                                        font-size: 16px;
                                        margin: 0rem 0rem 0rem 2rem;
                                        line-height: 3rem;
                                        
                                    }
                                    .checked{
                                        width: 0.8rem;
                                    }
                                }
                                    
                                
                                
                                
                                }
                            
                        }   
                    }

                    .btn__creation{
                        justify-content: center;
                        margin: 2rem 2rem auto 1rem;
                        position: relative;
                        display: flex;
                        flex-direction:end;
                        width: auto;
                        
                        
                            @media screen and (min-width: map-get($break-point, md)) {
                                margin-top: 7rem;
                                margin-bottom: 1rem;
                                margin-left: 4rem;
                                }

                            @media screen and (min-width: map-get($break-point,lg )) {
                                margin-top: -9rem;
                                margin-left: 27rem;
                                
                                position: absolute;
                                z-index:998;
                                }
                                @media screen and (min-width: map-get($break-point,mlg )) {
                                    margin-top: -9rem;
                                    margin-left: 32rem;
                                    
                                
                                    }
                }

                    

                        
                    .illu-creation{
                        position: relative;
                        margin: 2rem  1rem 4rem 1rem;
                        
                    
                        @media screen and (min-width: map-get($break-point, md)) {
                            position: relative;
                            margin-top: 22rem;
                            
                        }
                    
                        .photo__creation{
                            display: block;
                            position: relative;
                            
                    
                            @media screen and (min-width: map-get($break-point, md)) {
                                display: block;
                                padding-top: 5rem;
                                width: 60%;
                                height: auto;
                                align-content: center;
                                margin: auto;
                                z-index: 998;
                                
                            }
                            @media screen and (min-width: map-get($break-point, lg)) {
                                display: block;
                                margin: -27rem auto auto -4rem;
                                position: relative;
                                width: 45%;
                                height: auto;
                                padding-top: 4rem;
                            }
                        
                        }
                    
                        
                        
                    }
                    .point__creation{
                        display: flex;
                        width: 40%;
                        float: right;
                        margin: -9.5rem 1rem 3rem -2rem;
                
                        @media screen and (min-width: map-get($break-point, md)) {
                            display:block;
                            width: 20%;
                            margin-top: -10rem;
                            margin-left: 20rem;
                            position: absolute;
                            z-index: 997;
                            }
                        
                        @media screen and (min-width: map-get($break-point, lg)) {
                        
                        display:block;
                        margin: -11rem auto auto 22rem;
                        width: 7rem;
                    
                        }
                        @media screen and (min-width: map-get($break-point, mlg)) {
                        
                            display:block;
                            margin: -11rem auto auto 26rem;
                            width: 7rem;
                        
                            }
                    }
            }

        }
        /********************section realisations********************/
        .section__realisations{

            .l-section--realisations { grid-area: l-section-realisations; }

        }
        /********************section etail--footer*******************/
        .section__detail--footer{
            
            margin:auto;
            display: block;
            padding-top: 4rem;
            
            
            @media screen and (min-width: map-get($break-point, md)) {
                height: auto;
                margin-top: auto;
                
            }

            @media screen and (min-width: map-get($break-point, lg)) {
                background: none;
                height: auto;
                margin-top: 3rem;
                
            }
            
        
            .cadre__detail{
                display: flex;
                
                
                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin:auto;
                    height:auto;
                }

                
                .txt__liner--green-2{
                    margin:1.5rem auto auto auto;
                    
                    text-align: left;
                    color: map-get($colors,primary );
                    max-width: auto;
                    font-size: 20px;
                    width: auto;
                    line-height: 2rem;

                        span{
                            border-bottom: solid 3px map-get($colors , primaryGreen);
                            color: map-get($colors,primary ); 
                            font-style: normal;
                        }


                    @media screen and (min-width: map-get($break-point, md)) {
                        margin:2rem auto auto auto;
                        font-size: 20px;
                        text-align: auto;
                        width: auto;
                        
                        line-height: 2rem;
                        
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        
                        padding-bottom: 5rem;
                    }
                    @media screen and (min-width: map-get($break-point, mlg)) {
                        
                        width: 100%;
                        margin: 0;
                        height: auto;
                        margin-right: 4rem;
                        
                    }
                    @media screen and (min-width: map-get($break-point, xxlg)) {
                        
                        width: 100%;
                        margin: 0;
                        height: 50vh;
                        margin-right: 4rem;
                        
                    }
                    @media screen and (min-width: map-get($break-point, xtlg)) {
                        
                        width: 100%;
                        margin: 0;
                        height: 50vh;
                        margin-right:17rem;
                        
                    }

                }
                
                .img--detail-footer{
                
                    background-image: url('../img/photo-designer.png');
                    
                    display: none;
                    background-repeat: no-repeat;
                    width: 150rem;
                    height: auto;
                    min-height: auto;
                    
                    
                    
                    

                        @media screen and (min-width: map-get($break-point, lg)) {
                            display: block;
                            justify-content: space-between;
                            margin-top: 3rem;
                            margin-left: 5rem;
                        }
                        @media screen and (min-width: map-get($break-point, xtlg)) {
                            

                            
                        }
                    
                }  
                

            }
            
            .btn--detail{
                        
                margin:2rem auto auto 0rem;
                display: block;

                @media screen and (min-width: map-get($break-point, md)) {  
                    margin:2rem auto auto 0rem; 
                }

                @media screen and (min-width: map-get($break-point, lg)) {
                    margin:3rem auto auto 0rem; 
                }

                @media screen and (min-width: map-get($break-point, mlg)) {
                    margin: -5rem auto auto 25rem ;
                }
                @media screen and (min-width: map-get($break-point, xxlg)) {
                    
                }
                @media screen and (min-width: map-get($break-point, xtlg)) {
                    margin: -7rem auto auto 35rem ;
                }
            }

        }

 }


