/* ICI commence le scss de _m-realisations */
.m-wrap.realisation{
  width: 95%;
  margin: auto;
  p{
    color: color(primary);
    font-size: 20px;
    width: 100%;
    line-height: 2rem;
  }
  /*.green{
    border: 3px dashed yellowgreen;
  }
  */
/*
  .lime {
    margin: 1.2rem;
    //border: 4px dashed lime;
  }
  */
  .title__primary2 {
    font-style: italic;
    margin:3rem auto 1rem auto;

    color: map-get($colors,primary);
    width: 100%;
    font-size: 1.4rem; //30px

    span{
    border-bottom: solid 3px map-get($colors , primaryGreen);
    color: map-get($colors, primary);

    }
  }

  /*
  .yellow{
    background-color: rgb(252,255,164);
  }
  .bordure {
    border: 1px dotted red;
  }
  */

  span {
    text-transform: capitalize;
    font-weight: 800;
  }

  .backimage {
    padding-left: 0.6rem;
  }
  .backimage > img {
    max-width: 88%;
    margin-top: 1.4rem;
    padding-top: 1.4rem;
  }
  .backimage2 > img {
    max-width: 100%;
    margin-top: 1.4rem;
    padding-top: 1.4rem
  }
  .backimage-second img {
    position: relative;
    max-width: 100%;
    left: -1.4rem;
    top: -16rem;
  }
  .backimage-second2left img {
    position: relative;
    max-width: 100%;
    left: -2rem;
    top: 8rem;
}

  .coverimage {
    position: relative;
    left: -2.1rem;
    bottom: 17rem;
    width: 84%;
    padding-left: 5rem;
  }
  .coverimage2middle {
    position: relative;
    left: 2.9rem;
    bottom: 10rem;
    width: 84%;
    padding-left: 5rem;
  }

  .coverimage-ter{
    display: block;
    position: relative;
    width: 25%;
    left: 8.7rem;
    bottom: 14.3rem;
  }

  .coverrelatif {
    padding-right: 0.8rem;
    width: 90%;
    //border:1px solid blueviolet;
  }
  .coverrelatif img {
    width: 104%;
    z-index:5;
  }


  .coverrelatif-second img {
    max-width: 30%;
  }
  .coverrelatif-second2left img {
    max-width: 55%;
    position: relative;
    left: 2rem;
    top: -6rem;
}


  /* version petit mobile xxxs 370px */
  @media screen and (min-width: break-point(xxxs)){
    .coverrelatif img{
      width: 88%;
      padding-left: 0.8rem;
    }
    .coverimage-ter img{
      width: 130%;
      padding-left: 2.2rem;
      bottom: 13.5rem;
    }
    .coverimage2middle {
      position: relative;
      left: 1.9rem;
      bottom: 13rem;
    }

  }
  /* version moyen mobile xxs 420px */
  @media screen and (min-width: break-point (xxs)){
    .title__primary2{
      font-size: 1.6rem;
    }
    .coverrelatif2{
      bottom: 2rem;
    }
    .coverrelatif2 img{
      width: 125%;
    }
    .coverimage{
      bottom: 21rem;
    }
    .coverimage-ter {
      width: 28%;
      left: 1.9rem;
      bottom: 15rem;
      padding-left: 0.8rem;
    }

    .coverimage2middle {
      position: relative;
      left: 1.9rem;
      bottom: 15rem;
      width: 80%;
      padding-left: 5rem;
    }


  }
  /* version très petite tablette xx-s 530px */
  @media screen and (min-width: break-point(xx-s)){
    .coverimage{
      bottom: 25rem;
    }
    .coverimage-ter{
      left: 12.7rem;
      bottom: 23.5rem;
    }
    .coverimage2middle {
      left: 1.3rem;
      bottom: 9rem;
    }
    .backimage-second2left{
      width: 118%;
    }

    .backimage-second2left img {
      position: relative;
      max-width: 100%;
      left: 0rem;
      top: 16rem;
    }
    .coverrelatif-second2left img {
      top: 9rem;
    left: 1rem;
    width: 75%;
    }
  }


  /* version petite tablette  xs 600px */
  @media screen and (min-width: break-point(xs)){
    .backimage{
      position: absolute;
      padding-left: 10px;
      width: 42%;
      margin-top: 7rem;
    }
    .backimage>img {
      max-width: 74%;
      left: 2.1rem;
      top: -2.3rem;
    }
    .coverimage{
      bottom: 12rem;
    }

    .coverrelatif {
      left: 6.1rem;
      bottom: 11.2rem;
      width: 100%;
    }
    .coverrelatif img {
      max-width: 81%;
    }
    .coverimage-ter{
      left: 5.3rem;
      bottom: 26.5rem;
    }
    .coverimage-second2right {
      position: absolute;
    }
    .coverrelatif-second2right {
      position: relative;
      left: -2.1rem;
      bottom: -1.7rem;
      border: 1px solid red;
      width: 15%;
    }

    .coverrelatif-ter {
    position: absolute;
    left: -0.4rem;
    bottom: -20.2rem;
    /* border: 1px solid orange;*/
    }

    .coverimage-ter{
      display: block;
      position: relative;
    }
  }

  /* grande TABLETTE md = 740px */
  @media screen and (min-width: break-point(md)){

    .coverimage{
      left: -4rem;
    }

    .coverrelatif {
      left: 4.9rem;
      bottom: 13.2rem;
    }
    .coverrelatif img{
      max-width: 65%;
    }

    .coverrelatif-second {
      left: -2.1rem;
      bottom: 12.2rem;
    }
    .coverimage-ter{
      left: -11.7rem;
      bottom: 9.5rem;
    }

    .coverrelatif-ter{
      left: 16rem;
      bottom: -3.1rem;
      width: 90%;
    }

    .backimage>img {
      left: -7.2rem;
      max-width: 59%;
      top: -1.8rem;
    }
    .backimage2 > img {
      max-width: 100%;
      margin-top: 9.4rem;
    }
    .coverimage2middle {
      bottom: 10.5rem;
    }
    .backimage-second2left > img {
      top: 29rem;
    }
    .coverrelatif-second2left img {
      top: 20rem;
      left: 1.3rem;
      width: 72%;
  }

  }

  /* petit PC portable md-plus 799px */
  @media screen and (min-width: break-point(md-plus)){

    .backimage > img {
      position: relative;
      left: 4.8rem;
      max-width: 51%;
      top: -1.3rem;
    }

    .coverimage {
      position: absolute;
    }

    .coverimage-second {
      position: absolute;
    }

    .coverrelatif {
      position: relative;
      left: 7.5rem;
      bottom: -6.2rem;
      width: 89%;
    }
    .coverrelatif img {
      max-width: 68%;
    }

    .coverrelatif-second {
      /*position: relative;
      left: -2.1rem;
      bottom: -1.7rem;
      border: 1px solid red;
      width: 15%;*/
      display: none;
    }


    .coverrelatif-ter {
      position: absolute;
      left: 20.2rem;
      bottom: -7.1rem;
      max-width: 152%;
    // border: 1px solid yellow;
    }
    .coverrelatif-ter img {
      max-width: 100%;
      bottom: -9rem;
    }

    .backimage-second {
      padding-left: 0.8rem;
      margin-left: 1.6rem;
      margin-top: -8rem;
    }
    .backimage-second img {
      max-width: 100%;
      left: -1.1rem;
      top: -1rem;
    }
    .backimage2{
      width: 100%;
    }
    .backimage2 > img {
      margin-top: -0.6rem;
    }

  }

  /* petit PC portable lg 1024px */
  @media screen and (min-width: break-point(lg)){
    .coverrelatif {
      position: relative;
      left: 6.5rem;
      bottom: -4.2rem;
      width: 85%;
    }
    .coverrelatif-ter {
        position: absolute;
        left: 22rem;
        bottom: -7.2rem;
        max-width: 100%;
      //  border: 1px solid yellow;
    }

  }

  @media screen and (min-width: break-point(mlg)){
    .coverrelatif {
      left: 7.5rem;
      bottom: -4.2rem
    }
  }

  /* PC portable xlg 1360px */
  @media screen and (min-width: break-point(xlg)){
    .title__primary2{
      font-size: 1.6rem;
    }
    p{
      margin-top: 1.5rem;
    }
    .backimage-second img {
      top: 0;
    }
    .coverimage-ter{
      left: -9.7rem;
    }
  }
  /* PC portable xxlg 1420px */
  @media screen and (min-width: break-point(xxlg)){
    .title__primary2{
      font-size: 1.8rem;
    }
    .coverrelatif {
      left: 6.5rem;
      bottom: -1.2rem;
    }
    .coverrelatif img {
      max-width: 58%;
    }
  }
  /* PC  xtlg  1920px */
  @media screen and (min-width: break-point(xtlg)){
    .title__primary2{
      font-size: 2rem;
    }
    p{
      font-size: 24px;
    }
    .coverrelatif {
      left: 7.5rem;
    bottom: 4.8rem;
    }
    .coverrelatif img {
      max-width: 48%;
    }
    .coverrelatif-ter {
      left: 30rem;
      bottom: -7.2rem;
      max-width: 93%;
    }
  }

}